.finish-page {
    overflow: hidden;
}

.scroll-section {
    width: 100%;
    overflow: auto;
}

.finish-boat-entry {
    height: 6vh;
}

.search-bar {
    height: 3vh;
    width: 100%;
    font-size: 2vh;
}

.small-italics {
    font-size: 2vh;
    text-decoration: italic;
    color: gray;
}

.edit-time-input {
    height: 3vh;
    width: 15%;
    font-size: 2vh;
    text-align: center;
}

.edit-seconds-input {
    width: 30%;
}

.orange-button {
    background-color: orange;
    color: black;
}

.green-text {
    color: green;
}
.red-text {
    color: red;
}
.gray-text {
    color: gray;
}
.small-text {
    font-size: 2vh;
}