.arrow {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.right-arrow-ele {
    height: 0%;
    width: 0%;
    border-left: 3vw solid lightgray;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}

.down-arrow-ele {
    height: 0%;
    width: 0%;
    border-top: 3vw solid lightgray;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
}

.up-arrow-ele {
    height: 0%;
    width: 0%;
    border-bottom: 3vw solid lightgray;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
}

.edit {
    width: 3vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.edit-combined {
    display: flex;
    flex-direction: row;
    transform: rotate(-45deg);
}

.edit-point {
    width: 0vw;
    height: 0vw;
    border-top: 0.5vw solid transparent;
    border-bottom: 0.5vw solid transparent;
    border-right: 1vw solid lightgray;
}

.edit-box {
    width: 0.5vw;
    height: 1vw;
    border-right: 5vw solid lightgray;
}

