.arrow {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.right-arrow-ele {
    height: 0%;
    width: 0%;
    border-left: 3vw solid lightgray;
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
}

.down-arrow-ele {
    height: 0%;
    width: 0%;
    border-top: 3vw solid lightgray;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
}

.up-arrow-ele {
    height: 0%;
    width: 0%;
    border-bottom: 3vw solid lightgray;
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
}

.edit {
    width: 3vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
}

.edit-combined {
    display: flex;
    flex-direction: row;
    transform: rotate(-45deg);
}

.edit-point {
    width: 0vw;
    height: 0vw;
    border-top: 0.5vw solid transparent;
    border-bottom: 0.5vw solid transparent;
    border-right: 1vw solid lightgray;
}

.edit-box {
    width: 0.5vw;
    height: 1vw;
    border-right: 5vw solid lightgray;
}

.icon {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    /* width: 100%; */
    /* border: 2px solid red; */
    box-sizing: border-box;
}

/* boats icon */
.main-sail {
    position: absolute;
    height: 0%;
    width: 0%;
    border-left: 2vh solid transparent;
    border-bottom: 4vh solid gray;
}
.jib-sail {
    position: absolute;
    height: 0%;
    width: 0%;
    border-right: 1.25vh solid transparent;
    border-bottom: 3vh solid gray;
}
.hull {
    position: absolute;
    height: 0%;
    width: 3vh;
    border-top: 0.5vh solid gray;
    border-left: 0.5vh solid transparent;
    border-right: 0.5vh solid transparent;
}
.main-sail-red {
    border-bottom: 4vh solid red;
}
.jib-sail-red {
    border-bottom: 3vh solid red;
}
.hull-red {
    border-top: 0.5vh solid red;
}

.main-sail-a {
    left: 51%;
    top: 30%;
}
.jib-sail-a {
    left: 73%;
    top: 40%;
}
.hull-a {
    left: 47%;
    top: 71%;
}

.main-sail-b {
    left: 26%;
    top: 20%;
}
.jib-sail-b {
    left: 48%;
    top: 30%;
}
.hull-b {
    left: 22%;
    top: 61%;
}

/* start icon */
.start-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5vh;
    width: 5vh;
    box-sizing: border-box;
    border: 0.5vh solid gray;
    border-radius: 50%;
}

.start-ticks {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0.3vh;
    width: 4vh;
    box-sizing: border-box;
    border-left: 0.5vh solid gray;
    border-right: 0.5vh solid gray;
}

.start-ticks-a {
    transform: translate(-50%, -50%) rotate(90deg);
}
.start-ticks-b {
    transform: translate(-50%, -50%) rotate(30deg);
}
.start-ticks-c {
    transform: translate(-50%, -50%) rotate(60deg);
}
.start-ticks-d {
    transform: translate(-50%, -50%) rotate(120deg);
}
.start-ticks-e {
    transform: translate(-50%, -50%) rotate(150deg);
}

.top-a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 6.5vh;
    width: 1vh;
    border-top: 0.5vh solid gray;
    box-sizing: border-box;
}
.top-b {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 6vh;
    width: 0.5vh;
    border-top: 1vh solid gray;
    box-sizing: border-box;
}

.center-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 0.5vh;
    width: 0.5vh;
    box-sizing: border-box;
    background-color: gray;
    border-radius: 50%;
}

.start-pointer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 0.25vh;
    width: 3vh;
    box-sizing: border-box;
    border-left: 1.5vh solid gray;
    border-radius: 50%;
}

.start-circle-red {
    border: 0.5vh solid red;
}

.start-ticks-red {
    border-left: 0.5vh solid red;
    border-right: 0.5vh solid red;
}

.top-a-red {
    border-top: 0.5vh solid red;
}
.top-b-red {
    border-top: 1vh solid red;
}

.center-circle-red {
    background-color: red;
}

.start-pointer-red {
    border-left: 1.5vh solid red;
}

/* fnish icon */