.value-box {
    width: 18vw;
    height: 9vw;
    background-color: black;
    border-radius: 0.5vw;
    margin: 0.5vw;
    text-align: center;
    font-size: 7vw;
}

.digit-box {
    width: 8vw;
    height: 10vw;
    background-color: black;
    border-radius: 0.5vw;
    margin: 0.5vw;
    text-align: center;
    font-size: 8vw;
}

.mini-digit-box {
    width: 3.5vw;
    height: 6vw;
    background-color: black;
    border-radius: 0.5vw;
    margin: 0.5vw;
    text-align: center;
}

.large-digit-box {
    width: 11vw;
    height: 13vw;
    background-color: black;
    border-radius: 0.5vw;
    margin: 0.5vw;
    text-align: center;
    font-size: 11vw;
}

.red {
    color: red;
}

.green {
    color: green;
}