.all-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}

.page {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 82vh;
    background-color: white;
    box-sizing: border-box;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.pages {
    position: absolute;
    left: 0%;
    top: 8vh;
    width: 100vw;
    height: 92vh;
}

.tab-container {
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 10vh;
    transform: translate(0%, -100%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tab {
    width: 25vw;
    height: 10vh;
    color: rgb(145, 145, 145);
    font-family: sans-serif;
    font-size: 6vw;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(0, 0, 182);
}

.tab-active {
    color: red;
    border-top: none;
}

.race-title {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 182);;
    color: white;
    font-family: sans-serif;
    font-size: 6vw;
}

.horizontal-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.horizontal-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.wide {
    width: 100%;
}

.horizontal-between {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.horizontal-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.horizontal-around {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vertical-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.vertical-space {
    height: 1vw;
}

.space {
    width: 1vw;
}
.mini-space {
    width: 0.25vw;
}

.arrow-button {
    border-left: 0.2vh solid rgb(63, 63, 136);
    border-top: 0.2vh solid rgb(63, 63, 136);
    border-right: 0.2vh solid rgb(0, 0, 56);
    border-bottom: 0.2vh solid rgb(0, 0, 56);
    background-color: rgb(0, 0, 182);
    padding: 1vw;
    color: lightgray;
    border-radius: 2vw;
    cursor: pointer;
}

.blue-button {
    border-left: 0.2vh solid rgb(63, 63, 136);
    border-top: 0.2vh solid rgb(63, 63, 136);
    border-right: 0.2vh solid rgb(0, 0, 56);
    border-bottom: 0.2vh solid rgb(0, 0, 56);
    background-color: rgb(0, 0, 182);
    padding: 2vw;
    color: lightgray;
    border-radius: 2vw;
    height: 6vw;
    cursor: pointer;
}

.wide-button {
    padding-right: 5vw;
    padding-left: 5vw;
    cursor: pointer;
}

.inactive {
    opacity: 0.5;
}

.background-red {
    background-color: red;
}

.background-green {
    background-color: green;
}

.background-orange {
    background-color: orange;
}

.text-black {
    color: black;
}

.text-gray {
    color: gray;
}

.text-small {
    font-size: 2vh;
}

.selected-button {
    background-color: orange;
    color: black;
}

.vertical-limit-size {
    max-height: 60vh;
    overflow: auto;
}

.check-checkbox {
    transform: scale(1.4);
}

.csv-area {
    max-height: 60vh;
    overflow: auto;
}

#window-frame {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 90vh;
    width: 40vh;
    transform: translate(-50%, -50%);
}

.hidden {
    display: hidden;
}